.admin {
  display: grid;
  grid-template-columns: 300px 1fr;
  transition: 0.3s;
  display: flex;
}
.sidebar_navbar {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}
.admin.close {
  grid-template-columns: 74px 1fr;
  .sidebar__logo;
}
.sidebar_link {
  padding: 10px;
  gap: 24px;
}
